*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;   
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../Source/lofgin\ 4.png.");
    background-position: center;
    background-size: cover;
}

.card
{
    margin-left: 50px;
    padding: 45px 50px;
    background-color: aliceblue;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: transparent;
    color: aliceblue;
    background-color: rgba(225,225,225,0.1);
    border-radius: 20px;
}

.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    color: black;
}

form
{
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.email
{
    margin-top: 10px;
}

.email input[type="email"]
{ 
    width: 350px;
    padding: 12px 20px;
    margin-top: 5px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.policy
{
    margin-top: 20px;
    color: black;
    
}

.policy input[type="checkbox"]
{
    margin-left: 5px;
}

.password
{
    margin-top: 10px;
}

.password input[type="password"]
{
    width: 350px;
    padding: 12px 20px;
    margin-top: 5px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.button
{
    
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.button input[type="submit"]
{
    width: 100%;
    padding: 10px 60px;
    background-color:  #12a4ff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;

}

.account
{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.account a
{
    color: black;
    font-weight: 400;
}


select
{
    padding: 10px 60px 10px 10px;
    width: 100%;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

label
{
    color: black;
}